{% case service.current_incident_type %}
  {% when 'minor' %}
     {% assign type = 'Minor Incident' %}
  {% when 'major' %}
     {% assign type = 'Major Incident' %}
  {% when 'scheduled' %}
     {% assign type = 'Scheduled Maintenance' %}
  {% else %}
     {% assign type = 'No known issues at this time' %}
{% endcase %}

<div class="service-status{% if service.parent_id %} service-child{% endif %} status-type-{{ service.current_incident_type }}">
  <span class="service-status--name">{{ service.name }}</span>
  <div class="card">
    <div class="status-column"></div>
    <div class="service-status--details-column">
      <spam
        class="service-status--icon status-type-{{ service.current_incident_type }}"
        aria-hidden="true"
      >
    </spam>
    <span class="service-status--status">{{ type }}</span>
    </div>
  </div>
</div>
