{% case service.current_incident_type %}
  {% when 'minor' %}
     {% capture type %}{% t 'services_status.minor' %}{% endcapture %}
  {% when 'major' %}
    {% capture type %}{% t 'services_status.major' %}{% endcapture %}
  {% when 'scheduled' %}
    {% capture type %}{% t 'services_status.maintenance' %}{% endcapture %}
  {% else %}
    {% capture type %}{% t 'services_status.operational' %}{% endcapture %}
{% endcase %}

<div class="service-status status-type-{{ service.current_incident_type }} {% if service.current_incident_type != 'none' and service.children.size > 0 %}active{% endif %}">
  <div class="service-status--info">
    {% if service.children and service.children.size > 0 %}
      <a href="#" class="service-status--toggle-children" onclick="this.parentElement.parentElement.classList.toggle('active'); return false;"></a>
    {% endif %}
    <span class="service-status--name">{{ service.name }}</span>
    <span class="service-status--status">{{ type }}</span>
    <i class="service-status--icon"></i>
  </div>
  <div class="service-status--children">
    {% for _child in service.children %}
      {% include 'status_page/_service', service: _child %}
    {% endfor %}
  </div>
</div>
