.card.incident {
  display: flex;
  padding: 0;
  color: black;

  &:hover, &:active, &:focus {
    text-decoration: none;
    color: inherit;
  }

  .status-column {
    width: 1px;
  }
  .incident--details-column {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    & > div {
      padding: 0 15px;
    }

    .incident--title {
      font-size: 1.2em;
      margin-bottom: 1em;
      color: #676767;
    }
    .incident--current-status {
      margin-bottom: 1em;
      font-size: 1.1em;
      font-weight: 300;
      white-space: pre;
      white-space: -moz-pre-wrap; /* Firefox */
      white-space: -pre-wrap; /* ancient Opera */
      white-space: -o-pre-wrap; /* newer Opera */
      white-space: pre-wrap; /* Chrome; W3C standard */
      word-wrap: break-word; /* IE */
    }
    .incident--footer {
      padding-top: 10px;
      border-top: 1px solid #eeeeee;
      font-size: 0.9em;
      color: grey;
      font-weight: 300;
      display: flex;
      align-items: center;
    }
  }
}

// shared with incident page
.incident--services {
  flex: 1;
}

.incident--service {
  border: 1px solid $service-color;
  padding: 1px 5px;
  border-radius: 7px;
  color: $service-color;
  margin: 5px 5px 0 0;
  float: left;
}
