@import "metrics";
@import "service_statuses";
@import "incident";

.system-status {
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 12px;
}

.about {
  color: #555;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;

  h3 {
    margin: 0 0 .5em 0;
  }

  p {
    margin: 0;
  }

  a {
    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
}

.row {
  margin-bottom: $spacing;

  & > *:first-child { margin-top: 0; }
  & > *:last-child { margin-bottom: 0; }
}

.incidents-container {
  padding-top: $spacing-sm;

  & > .row {
    margin-bottom: $spacing-lg;
  }
}

.previous-incidents {
  text-decoration: underline;
}

.incidents-history-graph {
  text-align: right;
  padding-top: $spacing-sm;

  .uptime {
    margin-bottom: 8px;
    display: inline-block;
  }

  .time-legends {
    span:nth-child(1) { float: left; }
    span:nth-child(2) { float: right; }
    font-weight: 300;
    margin-top: 5px;
  }

  .segments {
    display: flex;

    & > div {
      height: 40px;
      flex: 1;
      margin: 1.5px;
    }
  }
}

.auto-refresh-label {
  color: #555;
}
