@import "metrics";
@import "service_statuses";
@import "incident";

.system-status {
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight: bold;
}

.contact-support {
  margin-top: .8em;
  text-align: center;
  color: #888;

  a {
    color: #555;
  }
}

.previous-incidents {
  text-decoration: underline;
}

.incidents-history-graph {
  padding: 40px 0 60px 0;
  text-align: right;

  .uptime {
    margin-bottom: 8px;
    display: inline-block;
  }

  .time-legends {
    span:nth-child(1) { float: left; }
    span:nth-child(2) { float: right; }
    font-weight: 300;
    margin-top: 5px;
  }

  .segments {
    display: flex;

    & > div {
      height: 40px;
      flex: 1;
      margin: 1.5px;
    }
  }
}
