$service-color: #0d92ce; // service tags in incidents

@import "base";
@import "modal";
@import "status_page/index";
@import "incident";
@import "incidents";

.header {
  padding: 10px 0;
  margin-bottom: 50px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);

  .container {
    display: flex;
    align-items: center;

    .brand-name-container {
      font-size: 20px;
      display: flex;
      flex: 1;

      a {
        display: flex;
        align-items: center;

        img {
          height: 27px;
          margin-right: 15px;
        }
      }
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #edeff3;
  display: flex;
  align-items: center;

  a {
    color: #555;
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }
    &.powered-by {
      float: right;
      color: grey;
    }
  }

  .container {
    width: 90%;
  }
}

.alert {
  background: #7c87e4;
  padding: 15px 0;
  margin: 0 auto 20px auto;
  color: white;
  text-align: center;
  max-width: 900px;
  border-radius: 5px;
  border-radius: 6px;

  &:empty { display: none }
  &.alert-danger {
    background: #d26a6a;
  }
}

.alert:empty { display: none; }
.container-fluid {
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .hidden-sm {
    display: none;
  }

  body {
    margin-bottom: 180px;
  }

  .footer {
    height: 80px;

    .container {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      a {
        margin: 5px 20px;
      }
    }
  }
}

.help-block {
  color: #b75e5e;
}
.btn.pull-right {
  margin-left: 5px;
}

.card {
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  background: white;
  padding: 20px;
  margin-bottom: 20px;
}
