html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f6f7f9;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-bottom: 160px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
hr {
  border: none;
  border-bottom: 1px solid #dedede;
  margin: 20px 0;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #cecece;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #cecece;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #cecece;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #cecece;
}
textarea, input, button { outline: none; }

.container {
  margin: 0 auto;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-muted {
  color: grey;
}
.text-right {
  text-align: right;
}

h1 {
  margin: 0;
  font-size: 1.8em;
  color: #009688;
}

h3 {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: $link-color;
}
td {
  text-align: left;
}
form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}
