table.incidents-table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;

  tr td {
    border-top: none;
    border-bottom: 1px solid #eaeaea;
    padding: 15px;

    &:last-child {
        width: 90px;
    }
  }
}
