<footer class="footer">
  <div class="container">
    <a href="{{ url }}">{{ name }}</a>
    <a href="http://statuspal.io" class="pull-right" target="_blank">Powered by Statuspal.io</a>
  </div>
</footer>

{% include 'shared/_modal' %}

<script>
  // Colors used by the uptime history chart.
  window.UPTIME_COLOR_MAJOR = '{% theme_color 'status_major_color' %}';
  window.UPTIME_COLOR_MINOR = '{% theme_color 'status_minor_color' %}';
  window.UPTIME_COLOR_OK = '{% theme_color 'status_ok_color' %}';
</script>
