<footer class="footer">
  <div class="container">
    <a href="{{ url }}">{{ name }}</a>
    <a href="http://statuspal.io" class="pull-right" target="_blank">Powered by Statuspal.io</a>
  </div>
</footer>

{% include 'shared/_modal' %}
